*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 250px 1fr 4fr 1fr;
}

header{
background-color: teal;
grid-column: span 12;
}

header img{
    width: 100%;
    height: 100%;
}

nav{
    background-color: red;
    grid-column: span 12;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    background-color: white;
    grid-column: span 3;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
}

main{
    background-color: orange;
    grid-column: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

footer{
    background-color: skyblue;
    grid-column: span 12;
    display: flex;
}

.tr{
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 3rem;
    color: red;
}

.nl{
    background-color: darkorange;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 3rem;
}